<html>
    <head>
        <link rel="stylesheet/less" href="{{ url_for('static', filename='css/style.less') }}">
        <link rel="stylesheet/less"  href="{{ url_for('static', filename='css/main.less') }}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>

        <title>Stress_ChatBot</title>
    </head>
    <body>
        <div class="page" >
            <div class="iframe-head">Let's chat</div>
            <div class="iframe-wrapper">{% block body %}{% endblock %}</div>
        </div>
    </body>
    <script>
        $(function(){
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        });
    </script>
</html>